.App-movieDetails {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  background: white;

  header {
    height: 60vh;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    padding: 2.4rem;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    .backButton {
      position: absolute;
      top: 2.4rem;
      left: 2.4rem;
      width: 3.2rem;
      height: 3.2rem;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 50%;
      box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.15);
      background: white;
      cursor: pointer;

      transform: rotate(-180deg);

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 30%;
        left: 30%;
        width: 40%;
        height: 0.2rem;
        background: var(--color-default);
        transform: rotate(45deg);
      }

      &::after {
        top: 60%;
        transform: rotate(-45deg);
      }
    }

    h3 {
      color: white;
      text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

      span {
        font-weight: normal;
        font-size: 1.4rem;
        margin-left: 0.4rem;
        display: inline-block;
        opacity: 0.82;
      }
    }
  }

  section {
    align-self: center;

    max-width: 96rem;
    color: var(--color-default);

    padding: 2.4rem 2.4rem 0 2.4rem;

    > * {
      margin-bottom: 1.2rem;
    }

    .crew {
      padding-bottom: 1.2rem;
      border-bottom: 1px solid #f2f2f2;

      span {
        font-weight: 600;
      }
    }

    .cast {
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 1.2rem;

        cursor: pointer;

        img {
          height: 4rem;
          width: auto;
          display: block;
          margin-right: 1.2rem;
        }

        :last-child {
          margin-left: auto;
        }
      }
    }
  }
}
