.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  > header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 2.4rem;
    height: 6.4rem;
    background: rgba(255, 255, 255, 0.99);
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    z-index: 99;

    transition: all 300ms ease;
  }

  > main {
    margin-top: 6.4rem;
    width: 100%;
    flex: 1;
  }

  &[data-state='movie'],
  &[data-state='actor'],
  &[data-state='fetchActor'] {
    .App-searchBar {
      display: none;
    }

    > main {
      max-width: 96rem;
      box-shadow: 0 16px 24px rgba(0, 0, 0, 0.25);
    }
  }

  &[data-state='idle'] {
    > header {
      height: 100%;
      background-image: url('./assets/marion-michele-443964-unsplash.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media screen and (min-width: 768px) {
    > main {
      background: white;
    }
  }
}

.strong {
  font-weight: 600;
}

.icon {
  width: 1.6rem;
  height: 1.6rem;

  & > {
    fill: var(--color-default-faded);
  }
}

.icon + * {
  margin-left: 1.2rem;
}

h1 {
  font-size: 3.8rem;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 3.8rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 1.4rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

h5 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 1.2rem;
}

p:last-child {
  margin-bottom: 0;
}
