.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  > header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6.4rem;

    background: rgba(255, 255, 255, 0.99);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    z-index: 99;
    transition: all 300ms ease;

    .App-innerHeader {
      height: 100%;
      margin: 0 auto;
      padding: 0 2.4rem;
      display: flex;
      align-items: center;
      max-width: 96rem;
    }
  }

  > main {
    margin-top: 6.4rem;
    width: 100%;
    flex: 1;

    > article {
      box-shadow: 0 16px 24px rgba(0, 0, 0, 0.25);
      height: 100%;
    }
  }

  /* State specific */
  &[data-state='movie'],
  &[data-state='actor'],
  &[data-state='fetchActor'],
  &[data-state='fetchMovie'] {
    .App-searchBar {
      display: none;
    }

    > main {
      max-width: 96rem;
    }
  }

  &[data-state='idle'],
  &[data-state='movies'],
  &[data-state='searching'] {
    .App-backButton {
      display: none;
    }
  }

  &[data-state='idle'] {
    > header {
      height: 100%;
      background-image: url('./assets/marion-michele-443964-unsplash.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media screen and (min-width: 768px) {
    > main {
      > article {
        height: 100%;
        background: white;
      }
    }
  }
}

.strong {
  font-weight: 600;
}

.icon {
  width: 1.6rem;
  height: 1.6rem;

  > * {
    fill: var(--color-default-faded);
  }
}

.icon + * {
  margin-left: 1.2rem;
}

/* General */
h1 {
  font-size: 3.8rem;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 3.8rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 1.4rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

h5 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 1.2rem;
}

p:last-child {
  margin-bottom: 0;
}
